<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kertsikalenteri</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        {% if current_user.is_authenticated %}
            Kirjautunut nimellä {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
        {% else %}
            <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
        {% endif %}

    <ul>
        <li><a href="{{ url_for('accounts_index') }}">Users</a></li>
        <li><a href="{{ url_for('rooms_index') }}">Rooms</a></li>
    </ul>

    {% block body %}
        <p>Content.</p>
    {% endblock %}
    </body>
</html>
