{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('events_edit',event_id=e.id) }}">
    <input type="hidden" name="event_id" value="{{e.id}}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name(value=e.name) }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.startTime.label }}</td>
            <td>{{ form.startTime(value=e.startTime) }}</td>
        </tr>
        <tr>
            <td>{{ form.endTime.label }}</td>
            <td>{{ form.endTime(value=e.endTime) }}</td>
        </tr>
        <tr>
            <td>{{ form.responsible.label }}</td>
            <td>{{ form.responsible(value=e.responsible) }}</td>
        </tr>
        <tr>
            <td>{{ form.description.label }}</td>
            <td>{{ form.description(value=e.description) }}</td>
        </tr>
        
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }} <input name="roomsBooked" type="checkbox" value="{{room.id}}"> </td>
                <td>{{ form.privateReserve.label }} <input name="privateReserve" type="checkbox" value="{{room.id}}"> </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><input type="submit" value="Save changes"/></td>
        </tr>
    </table>
</form>

{% endblock %}